body {
    display: flex;
    margin: 0%;
    justify-content: space-around;
    height: 100vh;
}



.name_of_the_project {
    margin: auto;
    width: 50%;
}

.jar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.jar_rim {
    width: 250px;
    height: 20px;
    background-color: lightsteelblue;
}

.jar_body {
    background-color: lightsteelblue;
    border-radius: 40px;
    width: 400px;
    height: 600px;
}

.jar_bottom {
    width: 400px;
    height: 30px;
    background-color: grey;
    position: relative;
    bottom: 30px;
    border-radius: 0 0 30px 30px
}

img {
    height: 100px;
    width: 100px;
    position: relative;
}

.plant_container {
    width: 100px;
    height: 100px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
}